.component{
    background-color: antiquewhite;
    text-align: center;

}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(132, 142, 142);
}
.scroll-btn{
    border-radius: 0px;
    background-color: transparent;
    border: none;
    text-align: center;
    
}